In [20]:
import csv
import requests
import pandas as pd
from alpha_vantage.timeseries import TimeSeries
from alpha_vantage.cryptocurrencies import CryptoCurrencies
import numpy as np
from os import listdir
from os.path import isfile, join
from tqdm import tqdm_notebook

API_KEY = os.environ['av_key']

pd.set_option('display.max_columns', 500)

In [21]:
ts = TimeSeries(key = API_KEY, output_format='pandas')
cc = CryptoCurrencies(key = API_KEY, output_format='pandas')

# STOCK

In [57]:
list_months = pd.date_range('2015-01-01','2024-09-30', freq='MS').strftime("%Y-%m").sort_values(ascending=False).tolist()
list_months

['2024-09',
 '2024-08',
 '2024-07',
 '2024-06',
 '2024-05',
 '2024-04',
 '2024-03',
 '2024-02',
 '2024-01',
 '2023-12',
 '2023-11',
 '2023-10',
 '2023-09',
 '2023-08',
 '2023-07',
 '2023-06',
 '2023-05',
 '2023-04',
 '2023-03',
 '2023-02',
 '2023-01',
 '2022-12',
 '2022-11',
 '2022-10',
 '2022-09',
 '2022-08',
 '2022-07',
 '2022-06',
 '2022-05',
 '2022-04',
 '2022-03',
 '2022-02',
 '2022-01',
 '2021-12',
 '2021-11',
 '2021-10',
 '2021-09',
 '2021-08',
 '2021-07',
 '2021-06',
 '2021-05',
 '2021-04',
 '2021-03',
 '2021-02',
 '2021-01',
 '2020-12',
 '2020-11',
 '2020-10',
 '2020-09',
 '2020-08',
 '2020-07',
 '2020-06',
 '2020-05',
 '2020-04',
 '2020-03',
 '2020-02',
 '2020-01',
 '2019-12',
 '2019-11',
 '2019-10',
 '2019-09',
 '2019-08',
 '2019-07',
 '2019-06',
 '2019-05',
 '2019-04',
 '2019-03',
 '2019-02',
 '2019-01',
 '2018-12',
 '2018-11',
 '2018-10',
 '2018-09',
 '2018-08',
 '2018-07',
 '2018-06',
 '2018-05',
 '2018-04',
 '2018-03',
 '2018-02',
 '2018-01',
 '2017-12',
 '2017-11',
 '2017-10',
 '2017-09',
 '2017-08',
 '2017-07',
 '2017-06',
 '2017-05',
 '2017-04',
 '2017-03',
 '2017-02',
 '2017-01',
 '2016-12',
 '2016-11',
 '2016-10',
 '2016-09',
 '2016-08',
 '2016-07',
 '2016-06',
 '2016-05',
 '2016-04',
 '2016-03',
 '2016-02',
 '2016-01',
 '2015-12',
 '2015-11',
 '2015-10',
 '2015-09',
 '2015-08',
 '2015-07',
 '2015-06',
 '2015-05',
 '2015-04',
 '2015-03',
 '2015-02',
 '2015-01']

In [58]:
counter = True

for icol in list_months:
    data, metadata = ts.get_intraday(symbol='BAC', interval='30min', month='2024-07', entitlement='delayed', outputsize='full')
    if counter: 
        df_data = data.copy()
        counter = False
    else: df_data = pd.concat([df_data, data], axis=0)

ValueError: Thank you for using Alpha Vantage! Please contact premium@alphavantage.co if you are targeting a higher API call volume.

In [59]:
df_data.shape

(46833, 5)

In [44]:
data

                     1. open  2. high   3. low  4. close  5. volume
date
2024-07-31 19:55:00  40.1705  40.2798  40.1705   40.2301     3050.0
2024-07-31 19:50:00  40.1705  40.1805  40.1407   40.1407      105.0
2024-07-31 19:45:00  40.1705  40.1805  40.1606   40.1705      148.0
2024-07-31 19:40:00  40.1805  40.1805  40.1407   40.1705      163.0
2024-07-31 19:35:00  40.1407  40.1805  40.1407   40.1805      154.0
...                      ...      ...      ...       ...        ...
2024-07-01 04:20:00  39.6441  39.6937  39.6441   39.6441       19.0
2024-07-01 04:15:00  39.7136  39.7136  39.6441   39.6441       71.0
2024-07-01 04:10:00  39.6143  39.6739  39.6143   39.6143       35.0
2024-07-01 04:05:00  39.6341  39.6341  39.6341   39.6341       51.0
2024-07-01 04:00:00  39.6937  39.7335  39.5050   39.6937      173.0

[4095 rows x 5 columns]

# CRYPTO

In [35]:
data, metadata = cc.get_crypto_intraday(symbol='SOL', market='USD', interval='1min', outputsize='full')

In [36]:
data

                     1. open  2. high  3. low  4. close  5. volume
date
2024-09-30 23:17:00   154.15   154.32  154.13    154.13      119.0
2024-09-30 23:16:00   154.17   154.17  154.01    154.15      514.0
2024-09-30 23:15:00   154.35   154.38  154.16    154.17      424.0
2024-09-30 23:14:00   154.40   154.40  154.32    154.35     2111.0
2024-09-30 23:13:00   154.30   154.40  154.27    154.40      485.0
...                      ...      ...     ...       ...        ...
2024-09-30 17:32:00   154.67   154.69  154.45    154.47      144.0
2024-09-30 17:31:00   154.89   154.94  154.58    154.67      228.0
2024-09-30 17:30:00   154.72   154.96  154.71    154.89       92.0
2024-09-30 17:29:00   154.85   154.87  154.73    154.73      241.0
2024-09-30 17:28:00   155.03   155.03  154.85    154.86      133.0

[350 rows x 5 columns]