In [1]:
import os
import pandas as pd

api_key = os.environ['av_key']

In [3]:
df = pd.read_csv("datas//news_sentiment_target.csv")

In [4]:
df.columns

Index(['Unnamed: 0', 'date_published', 'title', 'time_published', 'authors',
       'summary', 'source', 'ticker', 'label_close2max', 'label_close3max',
       'label_close2min', 'label_close3min', 'label_close2mean',
       'label_close3mean', 'inc_close2mean_perc5', 'inc_close2mean_perc10',
       'inc_close2mean_perc3', 'inc_close2max_perc5', 'inc_close2max_perc10',
       'inc_close2max_perc3', 'inc_close3mean_perc5', 'inc_close3mean_perc10',
       'inc_close3mean_perc3', 'inc_close3max_perc5', 'inc_close3max_perc10',
       'inc_close3max_perc3', 'dec_close2mean_perc5', 'dec_close2mean_perc10',
       'dec_close2mean_perc3', 'dec_close2min_perc5', 'dec_close2min_perc10',
       'dec_close2min_perc3', 'dec_close3mean_perc5', 'dec_close3mean_perc10',
       'dec_close3mean_perc3', 'dec_close3min_perc5', 'dec_close3min_perc10',
       'dec_close3min_perc3', 'summary_length', 'title_length'],
      dtype='object')

In [5]:
df["summary"]

0          BEIJING, Aug. 01, 2024 ( GLOBE NEWSWIRE ) -- A...
1          Research analysts at StockNews.com began cover...
2          StockNews.com assumed coverage on shares of AT...
3          Equities research analysts at StockNews.com be...
4          Research analysts at StockNews.com initiated c...
                                 ...
1116673    Chart: US Housing Market Affordability Has Plu...
1116674    'I am asset rich, but my income will not be as...
1116675    Bezos Buys Neighbor's House in Florida's 'Bill...
1116676    Housing Market: This Chart Shows How Rent Pric...
1116677    Apartment Bidding Wars: Inside My Expensive Fi...
Name: summary, Length: 1116678, dtype: object

# EDA

In [6]:
df['len_title'] = df['title'].str.len()
df['len_summary'] = df['summary'].str.len()

In [7]:
df.loc[df['len_title']==350, 'title'].to_list()[3]

'Carnival Corporation & plc Announces the Redemption of Existing â‚¬500 Million Notes and Launch of New Senior Unsecured Notes Offering for Interest Expense Reduction; Launch of Repricing of Senior Secured First Lien Term Loan B Facilities with Partial Repayment for Debt and Interest Expense Reduction - Carnival  ( NYSE:CUK ) , Carnival  ( NYSE:CCL ) '

In [8]:
df.loc[(df['len_title']>=30) & (df['len_title']<=270), 'title'].count()

1104180

In [9]:
check = df["len_title"].unique()

In [10]:
check.sort()

In [11]:
check

array([   1,    3,    4,    5,    6,    7,    8,    9,   10,   11,   12,
         13,   14,   15,   16,   17,   18,   19,   20,   21,   22,   23,
         24,   25,   26,   27,   28,   29,   30,   31,   32,   33,   34,
         35,   36,   37,   38,   39,   40,   41,   42,   43,   44,   45,
         46,   47,   48,   49,   50,   51,   52,   53,   54,   55,   56,
         57,   58,   59,   60,   61,   62,   63,   64,   65,   66,   67,
         68,   69,   70,   71,   72,   73,   74,   75,   76,   77,   78,
         79,   80,   81,   82,   83,   84,   85,   86,   87,   88,   89,
         90,   91,   92,   93,   94,   95,   96,   97,   98,   99,  100,
        101,  102,  103,  104,  105,  106,  107,  108,  109,  110,  111,
        112,  113,  114,  115,  116,  117,  118,  119,  120,  121,  122,
        123,  124,  125,  126,  127,  128,  129,  130,  131,  132,  133,
        134,  135,  136,  137,  138,  139,  140,  141,  142,  143,  144,
        145,  146,  147,  148,  149,  150,  151,  152,  153,  154,  155,
        156,  157,  158,  159,  160,  161,  162,  163,  164,  165,  166,
        167,  168,  169,  170,  171,  172,  173,  174,  175,  176,  177,
        178,  179,  180,  181,  182,  183,  184,  185,  186,  187,  188,
        189,  190,  191,  192,  193,  194,  195,  196,  197,  198,  199,
        200,  201,  202,  203,  204,  205,  206,  207,  208,  209,  210,
        211,  212,  213,  214,  215,  216,  217,  218,  219,  220,  221,
        222,  223,  224,  225,  226,  227,  228,  229,  230,  231,  232,
        233,  234,  235,  236,  237,  238,  239,  240,  241,  242,  243,
        244,  245,  246,  247,  248,  249,  250,  251,  252,  253,  254,
        255,  256,  257,  258,  259,  260,  261,  262,  263,  264,  265,
        266,  267,  268,  269,  270,  271,  272,  273,  274,  275,  276,
        277,  278,  279,  280,  281,  282,  283,  284,  285,  286,  287,
        288,  289,  290,  291,  292,  293,  294,  295,  296,  297,  298,
        299,  300,  301,  302,  303,  304,  305,  306,  307,  308,  309,
        310,  311,  312,  313,  314,  315,  316,  317,  318,  319,  320,
        321,  322,  323,  324,  325,  326,  327,  329,  330,  331,  332,
        333,  334,  335,  336,  337,  338,  339,  340,  341,  342,  343,
        344,  345,  346,  347,  348,  350,  351,  352,  353,  354,  355,
        356,  357,  358,  359,  361,  362,  363,  364,  365,  366,  367,
        368,  369,  370,  371,  372,  373,  374,  376,  377,  379,  380,
        381,  383,  384,  385,  386,  387,  389,  390,  391,  392,  393,
        394,  395,  396,  397,  398,  399,  400,  401,  402,  403,  404,
        406,  407,  409,  410,  411,  412,  413,  414,  415,  417,  418,
        419,  420,  421,  423,  426,  427,  428,  429,  430,  432,  433,
        435,  437,  439,  440,  441,  445,  446,  447,  449,  450,  451,
        452,  454,  455,  456,  458,  459,  460,  464,  465,  466,  468,
        471,  473,  476,  477,  478,  480,  482,  483,  485,  492,  494,
        496,  497,  501,  505,  506,  508,  509,  510,  511,  512,  513,
        514,  518,  519,  521,  525,  526,  527,  531,  532,  534,  539,
        543,  545,  546,  550,  554,  555,  556,  557,  558,  562,  564,
        567,  570,  571,  573,  575,  577,  578,  579,  581,  583,  586,
        587,  588,  592,  594,  595,  596,  599,  601,  602,  606,  612,
        615,  616,  617,  621,  624,  627,  630,  632,  634,  635,  641,
        642,  651,  670,  672,  674,  675,  679,  686,  688,  689,  698,
        710,  718,  720,  729,  734,  752,  760,  764,  765,  773,  778,
        785,  799,  802,  809,  810,  834,  837,  852,  859,  860,  871,
        874,  881,  882,  915,  925,  927,  933,  935,  957,  973, 1074,
       1116, 1148, 1217, 1248, 1301, 1323, 1359, 1373, 1403, 1417, 1438,
       1449, 1458, 1468, 1635, 1636, 1638, 1675, 1689, 1716, 1750, 1754,
       1789, 1792, 1814, 1855, 1865, 1875, 1881, 1930, 1944, 1959, 1980,
       1989, 2049, 2095, 2119, 2129, 2132, 2157, 2225, 2279, 2320, 2338,
       2381, 2421, 2442, 2543, 2549, 2693], dtype=int64)

In [12]:
df['cut_title'] = pd.cut(df['len_title'], 20, labels=False)

In [13]:
df[['cut_title', 'len_title']].groupby('cut_title').agg(['min', 'max', 'count'])

          len_title
                min   max   count
cut_title
0                 1   135  991839
1               136   270  121088
2               271   404    2227
3               406   539     491
4               543   674     297
5               675   802     142
6               809   935      90
7               957  1074      17
8              1116  1148      12
9              1217  1323      26
10             1359  1468      55
12             1635  1750      69
13             1754  1881      84
14             1930  1989      41
15             2049  2132      66
16             2157  2279      30
17             2320  2421      45
18             2442  2549      44
19             2693  2693      15

## Processing

In [14]:
df_used = df.loc[(df['len_title']>=30) & (df['len_title']<=270)].copy()

In [15]:
df_used.columns

Index(['Unnamed: 0', 'date_published', 'title', 'time_published', 'authors',
       'summary', 'source', 'ticker', 'label_close2max', 'label_close3max',
       'label_close2min', 'label_close3min', 'label_close2mean',
       'label_close3mean', 'inc_close2mean_perc5', 'inc_close2mean_perc10',
       'inc_close2mean_perc3', 'inc_close2max_perc5', 'inc_close2max_perc10',
       'inc_close2max_perc3', 'inc_close3mean_perc5', 'inc_close3mean_perc10',
       'inc_close3mean_perc3', 'inc_close3max_perc5', 'inc_close3max_perc10',
       'inc_close3max_perc3', 'dec_close2mean_perc5', 'dec_close2mean_perc10',
       'dec_close2mean_perc3', 'dec_close2min_perc5', 'dec_close2min_perc10',
       'dec_close2min_perc3', 'dec_close3mean_perc5', 'dec_close3mean_perc10',
       'dec_close3mean_perc3', 'dec_close3min_perc5', 'dec_close3min_perc10',
       'dec_close3min_perc3', 'summary_length', 'title_length', 'len_title',
       'len_summary', 'cut_title'],
      dtype='object')

In [16]:
df_used['summary_processed'] = df_used['title']

In [17]:
df_used = df_used.drop_duplicates('title', keep='first')

In [18]:
# df_used.count()

In [19]:
df_used['price_sentiment3'] = 'neutral'
df_used.loc[(df_used['inc_close3max_perc3']==1)&(df_used['dec_close3min_perc3']==0), 'price_sentiment3'] = 'price increase'
df_used.loc[(df_used['inc_close3max_perc3']==0)&(df_used['dec_close3min_perc3']==1), 'price_sentiment3'] = 'price decrease'
df_used.loc[(df_used['inc_close3max_perc3']==0)&(df_used['dec_close3min_perc3']==0), 'price_sentiment3'] = 'neutral'

In [20]:
df_used.price_sentiment3.value_counts()

price_sentiment3
neutral           363998
price decrease    107437
price increase    103292
Name: count, dtype: int64

In [21]:
from sklearn.model_selection import train_test_split

train_idx, test_idx, y_train, y_test = train_test_split(
    df_used.index, df_used.price_sentiment3, test_size=0.33, random_state=42, stratify=df_used.price_sentiment3)

In [22]:
len(train_idx)

385067

In [23]:
len(test_idx)

189660

In [26]:
df_used.loc[train_idx].price_sentiment3.value_counts()

price_sentiment3
neutral           243878
price decrease     71983
price increase     69206
Name: count, dtype: int64

In [31]:
n_count = 6000

df_sample = pd.DataFrame()

for label in df_used.price_sentiment3.unique():
    index_used = df_used[(df_used.index.isin(train_idx))&(df_used.price_sentiment3==label)].index
    df_temp = df_used.loc[index_used[0:6000]].copy()
    df_sample = pd.concat([df_sample, df_temp], axis=0)

In [32]:
df_sample.price_sentiment3.value_counts()

price_sentiment3
price decrease    6000
neutral           6000
price increase    6000
Name: count, dtype: int64

In [33]:
regulated_list = list()

for index, row in df_sample.iterrows():
    system_ = {"role": "system", "content": "Analyze the news title and predict the stock price into one of the following classes:[price increase, price decrease, neutral]"}
    user_ = {"role": "user", "content": row.title}
    model_ = {"role": "assistant", "content": row.price_sentiment3}
    top_container = {"messages": [system_, user_, model_]}
    regulated_list.append(top_container)

In [34]:
# print(regulated_list)

In [35]:
import jsonlines

with jsonlines.open('output_training_mini.jsonl', 'w') as writer:
    writer.write_all(regulated_list)

In [36]:
n_count = 6000

df_sample = pd.DataFrame()

for label in df_used.price_sentiment3.unique():
    index_used = df_used[(df_used.index.isin(test_idx))&(df_used.price_sentiment3==label)].index
    df_temp = df_used.loc[index_used[0:6000]].copy()
    df_sample = pd.concat([df_sample, df_temp], axis=0)

In [37]:
df_sample.price_sentiment3.value_counts()

price_sentiment3
price decrease    6000
neutral           6000
price increase    6000
Name: count, dtype: int64

In [38]:
regulated_list = list()

for index, row in df_sample.iterrows():
    system_ = {"role": "system", "content": "Analyze the news title and predict the stock price into one of the following classes:[price increase, price decrease, neutral]"}
    user_ = {"role": "user", "content": row.title}
    model_ = {"role": "assistant", "content": row.price_sentiment3}
    top_container = {"messages": [system_, user_, model_]}
    regulated_list.append(top_container)

In [39]:
import jsonlines

with jsonlines.open('output_test_mini.jsonl', 'w') as writer:
    writer.write_all(regulated_list)