In [1]:
from alpha_vantage.cryptocurrencies import CryptoCurrencies
import pandas_ta as ta
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
import os

pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 100)

key = os.environ['av_key']

In [2]:
cc = CryptoCurrencies(key=key, output_format='pandas')

In [3]:
df, meta_data = cc.get_crypto_intraday('ETH', market='USD', interval='1min', outputsize='full')

In [4]:
df = df.rename(columns={"4. close": "close",
                   "1. open": "open",
                   "2. high": "high",
                   "3. low": "low",
                   "5. volume": "volume"})

df = df[['open', 'high', 'low', 'close', 'volume']]

In [5]:
df = df.sort_index()
df['idx_int'] = np.arange(0, len(df))
df = df.reset_index()

In [6]:
df.head()

                 date     open     high      low    close  volume  idx_int
0 2024-11-06 12:19:00  2648.29  2648.99  2647.08  2647.79    94.0        0
1 2024-11-06 12:20:00  2647.79  2648.21  2641.00  2641.01   124.0        1
2 2024-11-06 12:21:00  2641.00  2645.33  2640.55  2643.85   105.0        2
3 2024-11-06 12:22:00  2643.86  2647.71  2643.86  2647.64    67.0        3
4 2024-11-06 12:23:00  2647.60  2647.60  2644.64  2645.34   398.0        4

In [7]:
def compute_gradient(start_index, df, x_label, y_label, len_data):
    # Ensure we only take data points from n to n+5
    if start_index + 5 > len(df):
        return None  # Return None if there are not enough points to calculate gradient
    
    # Extract the last 5 data points (x, y) from the DataFrame
    data_segment = df.iloc[start_index:start_index + len_data]
    x = data_segment[x_label]
    y = data_segment[y_label]
    
    # Calculate the necessary summations for the least squares formula
    n = len(x)
    sum_x = x.sum()
    sum_y = y.sum()
    sum_x2 = (x**2).sum()
    sum_xy = (x * y).sum()
    
    # Calculate the slope (gradient) using the least squares formula
    slope = (n * sum_xy - sum_x * sum_y) / (n * sum_x2 - sum_x**2)
    return slope

In [8]:
df['gradient_ls'] = np.nan  # Initialize the column with None
len_data = 5

# Loop through the DataFrame, compute gradient for each row (starting point)
for i in range(len(df) - 5):  # Make sure we have at least 5 points for each calculation
    gradient = compute_gradient(i, df, 'idx_int', 'close', len_data)
    df.at[i + len_data, 'gradient_ls'] = gradient  # Store the gradient in the row corresponding to n+4

In [9]:
# realtime stock trading
df.ta.ema(length=9, append=True)
df.ta.ema(length=21, append=True)
df.ta.rsi(length=7, append=True)
# df.ta.rsi(length=12, append=True)
# df.ta.rsi(length=24, append=True)
df.ta.bbands(length=20, std=2, append=True)
df.ta.macd(fast=6, slow=13, signal=5, append=True)
df.ta.psar(append=True)

     PSARl_0.02_0.2  PSARs_0.02_0.2  PSARaf_0.02_0.2  PSARr_0.02_0.2
0               NaN             NaN             0.02               0
1               NaN     2666.640000             0.04               0
2               NaN     2665.614400             0.06               0
3               NaN     2664.110536             0.06               0
4               NaN     2662.696904             0.06               0
..              ...             ...              ...             ...
345     2652.790364             NaN             0.06               0
346     2653.494142             NaN             0.08               0
347     2654.411411             NaN             0.10               0
348     2655.496270             NaN             0.12               0
349     2656.772317             NaN             0.14               0

[350 rows x 4 columns]

In [10]:
df['r_ema_s_m'] = df['EMA_9'] / df['EMA_21']

In [11]:
df['gradient_ema9'] = np.nan  # Initialize the column with None
len_data = 5

# Loop through the DataFrame, compute gradient for each row (starting point)
for i in range(len(df) - 3):  # Make sure we have at least 5 points for each calculation
    gradient = compute_gradient(i, df, 'idx_int', 'EMA_9', len_data)
    df.at[i + len_data, 'gradient_ema_9'] = gradient  # Store the gradient in the row corresponding to n+4
    gradient = compute_gradient(i, df, 'idx_int', 'RSI_7', len_data)
    df.at[i + len_data, 'gradient_rsi_7'] = gradient  # Store the gradient in the row corresponding to n+4

In [12]:
mask_crossing = (df['r_ema_s_m']<1.0005)&(df['r_ema_s_m']>0.9995)
df['flag_ema_crossing'] = 0
df.loc[mask_crossing, 'flag_ema_crossing'] = 1

In [13]:
mask_ema_grad_pos = (df['gradient_ema_9']>0.05)
mask_ema_grad_neg = (df['gradient_ema_9']<-0.05)
df['flag_grad_ema'] = 0
df.loc[mask_ema_grad_pos, 'flag_grad_ema'] = 1
df.loc[mask_ema_grad_neg, 'flag_grad_ema'] = -1

mask_rsi_grad_pos = (df['gradient_rsi_7']>=1)
mask_rsi_grad_neg = (df['gradient_rsi_7']<=1)
df['flag_grad_rsi'] = 0
df.loc[mask_rsi_grad_pos, 'flag_grad_rsi'] = 1
df.loc[mask_rsi_grad_neg, 'flag_grad_rsi'] = -1

In [14]:
# df.ta.rsi(length=6, append=True)
# df.ta.rsi(length=12, append=True)
# df.ta.rsi(length=24, append=True)
# df.ta.bbands(length=20, std=2, append=True)
# df.ta.macd(fast=15, slow=30, signal=9, append=True)
# df.ta.psar(append=True)

In [16]:
df['ema_short_above_or_below'] = 0
df.loc[(df['EMA_9']>df['EMA_21']), 'ema_short_above_or_below'] = 1
df.loc[(df['EMA_9']<df['EMA_21']), 'ema_short_above_or_below'] = -1

In [31]:
df['long_entry'] = np.nan
df['short_entry'] = np.nan
df['long_exit'] = np.nan
df['short_exit'] = np.nan

# Strategy

With access to real-time crypto data on a 1-minute frequency, you can use a high-frequency trading strategy that relies on these indicators to capture quick, small movements. Here’s a 1-minute crypto trading strategy using Bollinger Bands, MACD, RSI, Parabolic SAR, and EMA.

### Strategy Overview

In this strategy:
- **Indicators**:
  - **Bollinger Bands (BB)**: Used for spotting volatility squeezes and reversal points.
  - **MACD**: Helps to confirm the trend and momentum.
  - **RSI**: Identifies overbought and oversold conditions.
  - **Parabolic SAR**: Shows potential reversal points.
  - **EMA**: Provides trend direction, but with short-period settings for 1-minute data.

### Indicator Setup

1. **EMA**: 9-period (short-term trend) and 21-period (medium-term trend) EMAs to define trend direction.
2. **Bollinger Bands**: 20-period with 2 standard deviations, adapted for quick reversals and price channels.
3. **MACD**: Use fast settings, such as 6-period for the short EMA, 13-period for the long EMA, and a 5-period signal line, to react to short-term price movements.
4. **RSI**: 7-period RSI to make it more sensitive to overbought/oversold conditions in a 1-minute context.
5. **Parabolic SAR**: Default settings (with high sensitivity) for trend reversal signals.

### Trading Rules

#### Long Entry Signal

1. **Confirm the Trend**:
   - **EMA Crossover**: The 9 EMA crosses above the 21 EMA, indicating a potential short-term uptrend.
   - **MACD**: MACD histogram or line is positive, showing bullish momentum.

2. **Entry Conditions**:
   - **Bollinger Bands**: Price touches or briefly dips below the lower Bollinger Band.
   - **RSI**: RSI is between 30 and 50, indicating the price is emerging from an oversold state.
   - **Parabolic SAR**: Ensure Parabolic SAR dots are below the price, suggesting an upward trend.

3. **Enter Long Position**: When all conditions are met, enter a long position.

#### Short Entry Signal

1. **Confirm the Trend**:
   - **EMA Crossover**: The 9 EMA crosses below the 21 EMA, suggesting a potential short-term downtrend.
   - **MACD**: MACD histogram or line is negative, showing bearish momentum.

2. **Entry Conditions**:
   - **Bollinger Bands**: Price touches or slightly breaches the upper Bollinger Band.
   - **RSI**: RSI is between 50 and 70, indicating overbought conditions.
   - **Parabolic SAR**: Dots appear above the price, indicating a downward trend.

3. **Enter Short Position**: When all conditions align, enter a short position.

#### Exit Conditions

1. **Long Exit**:
   - **Bollinger Bands**: Price reaches the upper Bollinger Band or moves near it.
   - **RSI**: RSI rises above 70, showing an overbought condition.
   - **Parabolic SAR**: Dots flip to above the price, signaling a potential end of the uptrend.

2. **Short Exit**:
   - **Bollinger Bands**: Price reaches or approaches the lower Bollinger Band.
   - **RSI**: RSI falls below 30, showing an oversold condition.
   - **Parabolic SAR**: Dots flip below the price, indicating a potential end of the downtrend.

#### Stop-Loss and Take-Profit Levels

1. **Stop-Loss**: Place a stop-loss order just outside the recent swing low (for long trades) or swing high (for short trades), typically around 0.2-0.3% for 1-minute data.
2. **Take-Profit**: Set a target based on Bollinger Band levels or RSI extremes, aiming for a quick profit margin of 0.5-1%.

### Example of a 1-Minute Trade

#### Bullish Setup

1. **Trend Confirmation**: 9 EMA crosses above 21 EMA, MACD is positive.
2. **Entry Signal**: Price touches the lower Bollinger Band, RSI is near 40, Parabolic SAR dots appear below price.
3. **Entry**: Enter a long position.
4. **Exit**: Price reaches the upper Bollinger Band, RSI is above 70, or Parabolic SAR dots appear above the price.

#### Bearish Setup

1. **Trend Confirmation**: 9 EMA crosses below 21 EMA, MACD is negative.
2. **Entry Signal**: Price touches the upper Bollinger Band, RSI is near 60, Parabolic SAR dots appear above price.
3. **Entry**: Enter a short position.
4. **Exit**: Price reaches the lower Bollinger Band, RSI falls below 30, or Parabolic SAR dots appear below the price.

### Tips for Real-Time Trading

1. **Use Alerts**: Set up alerts for EMA crossovers, Bollinger Band touches, and Parabolic SAR reversals to help react quickly to signals.
2. **Backtest**: Backtest the strategy on historical 1-minute crypto data to fine-tune parameters based on volatility and crypto type.
3. **Risk Management**: Use a maximum position size per trade and a loss limit per session to manage risk in high-frequency conditions.

This high-frequency strategy can help capitalize on quick, small moves in the crypto market, taking advantage of the volatility seen in minute-by-minute data.

# Long Entry

In [36]:
mask_le1 = (df['ema_short_above_or_below']==1)&(df['flag_grad_ema']==1)&(df['flag_ema_crossing']==1)
mask_le2 = (df['MACD_6_13_5']>0)|(df['MACDh_6_13_5']>0)
mask_le3 = (df['close']<=df['BBL_20_2.0'])
mask_le4 = (df['RSI_7']<50)&(df['RSI_7']>=30)
mask_le5 = (df['PSARl_0.02_0.2'] < df['close'])

In [40]:
df.loc[(mask_le1)&(mask_le2)&(mask_le3)&(mask_le4)&(mask_le5), 'long_entry'] = 1
df.loc[df['long_entry']==1].head()

Empty DataFrame
Columns: [date, open, high, low, close, volume, idx_int, gradient_ls, EMA_9, EMA_21, RSI_7, BBL_20_2.0, BBM_20_2.0, BBU_20_2.0, BBB_20_2.0, BBP_20_2.0, MACD_6_13_5, MACDh_6_13_5, MACDs_6_13_5, PSARl_0.02_0.2, PSARs_0.02_0.2, PSARaf_0.02_0.2, PSARr_0.02_0.2, r_ema_s_m, gradient_ema9, gradient_ema_9, gradient_rsi_7, flag_ema_crossing, flag_grad_ema, flag_grad_rsi, long_entry, short_entry, long_exit, short_exit, ema_short_above_or_below]
Index: []

# Short Entry

In [39]:
mask_se1 = (df['ema_short_above_or_below']==-1)&(df['flag_grad_ema']==-1)&(df['flag_ema_crossing']==1)
mask_se2 = (df['MACD_6_13_5']<0)|(df['MACDh_6_13_5']<0)
mask_se3 = (df['close']>=df['BBU_20_2.0'])
mask_se4 = (df['RSI_7']>50)&(df['RSI_7']<=70)
mask_se5 = (df['PSARs_0.02_0.2'] > df['close'])

In [41]:
df.loc[(mask_se1)&(mask_se2)&(mask_se3)&(mask_se4)&(mask_se5), 'short_entry'] = 1
df.loc[df['short_entry']==1].head()

Empty DataFrame
Columns: [date, open, high, low, close, volume, idx_int, gradient_ls, EMA_9, EMA_21, RSI_7, BBL_20_2.0, BBM_20_2.0, BBU_20_2.0, BBB_20_2.0, BBP_20_2.0, MACD_6_13_5, MACDh_6_13_5, MACDs_6_13_5, PSARl_0.02_0.2, PSARs_0.02_0.2, PSARaf_0.02_0.2, PSARr_0.02_0.2, r_ema_s_m, gradient_ema9, gradient_ema_9, gradient_rsi_7, flag_ema_crossing, flag_grad_ema, flag_grad_rsi, long_entry, short_entry, long_exit, short_exit, ema_short_above_or_below]
Index: []

In [35]:
df.head(30)

,date,open,high,low,close,volume,idx_int,gradient_ls,EMA_9,EMA_21,RSI_7,BBL_20_2.0,BBM_20_2.0,BBU_20_2.0,BBB_20_2.0,BBP_20_2.0,MACD_6_13_5,MACDh_6_13_5,MACDs_6_13_5,PSARl_0.02_0.2,PSARs_0.02_0.2,PSARaf_0.02_0.2,PSARr_0.02_0.2,r_ema_s_m,gradient_ema9,gradient_ema_9,gradient_rsi_7,flag_ema_crossing,flag_grad_ema,flag_grad_rsi,long_entry,short_entry,long_exit,short_exit,ema_short_above_or_below
0,2024-11-06 12:19:00,2648.29,2648.99,2647.08,2647.79,94.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.02,0.0,NaN,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,0
1,2024-11-06 12:20:00,2647.79,2648.21,2641.00,2641.01,124.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2666.640000,0.04,0.0,NaN,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,0
2,2024-11-06 12:21:00,2641.00,2645.33,2640.55,2643.85,105.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2665.614400,0.06,0.0,NaN,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,0
3,2024-11-06 12:22:00,2643.86,2647.71,2643.86,2647.64,67.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2664.110536,0.06,0.0,NaN,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,0
4,2024-11-06 12:23:00,2647.60,2647.60,2644.64,2645.34,398.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2662.696904,0.06,0.0,NaN,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,0
5,2024-11-06 12:24:00,2645.34,2647.09,2641.56,2641.91,277.0,5.0,0.173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2661.368090,0.06,0.0,NaN,NaN,0.000000,0.000000,0,0,-1,NaN,NaN,NaN,NaN,0
6,2024-11-06 12:25:00,2642.08,2643.30,2641.34,2642.58,135.0,6.0,0.329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2660.119004,0.06,0.0,NaN,NaN,0.000000,0.000000,0,0,-1,NaN,NaN,NaN,NaN,0
7,2024-11-06 12:26:00,2642.59,2645.17,2642.59,2645.17,346.0,7.0,-0.827,NaN,NaN,49.494970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2658.944864,0.06,0.0,NaN,NaN,0.000000,0.000000,0,0,-1,NaN,NaN,NaN,NaN,0
8,2024-11-06 12:27:00,2644.49,2647.33,2642.96,2644.56,156.0,8.0,-0.770,2644.427778,NaN,46.959563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2657.841172,0.06,0.0,NaN,NaN,0.000000,9.898994,0,0,1,NaN,NaN,NaN,NaN,0
9,2024-11-06 12:28:00,2644.57,2644.86,2639.14,2639.29,143.0,9.0,0.170,2643.400222,NaN,30.969541,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2656.803702,0.08,0.0,NaN,NaN,528.885556,14.341410,0,1,1,NaN,NaN,NaN,NaN,0
10,2024-11-06 12:29:00,2639.44,2640.39,2637.05,2637.28,109.0,10.0,-0.326,2642.176178,NaN,26.894592,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2655.390606,0.10,0.0,NaN,NaN,793.122822,10.889865,0,1,1,NaN,NaN,NaN,NaN,0
11,2024-11-06 12:30:00,2637.05,2641.07,2636.60,2640.79,81.0,11.0,-1.648,2641.898942,NaN,42.348993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2653.556545,0.12,0.0,NaN,NaN,792.775258,3.526375,0,1,1,NaN,NaN,NaN,NaN,0
12,2024-11-06 12:31:00,2640.80,2641.39,2636.18,2636.96,138.0,12.0,-1.604,2640.911154,NaN,33.368865,NaN,NaN,NaN,NaN,NaN,-2.659113,NaN,NaN,NaN,2651.521760,0.14,0.0,NaN,NaN,528.154628,-3.435693,0,1,-1,NaN,NaN,NaN,NaN,0
13,2024-11-06 12:32:00,2637.13,2637.33,2636.23,2636.36,61.0,13.0,-1.370,2640.000923,NaN,32.123872,NaN,NaN,NaN,NaN,NaN,-2.794861,NaN,NaN,NaN,2649.373913,0.14,0.0,NaN,NaN,-0.853453,-1.580194,0,-1,-1,NaN,NaN,NaN,NaN,0
14,2024-11-06 12:33:00,2636.36,2637.86,2636.36,2637.70,39.0,14.0,-0.618,2639.540738,NaN,38.137708,NaN,NaN,NaN,NaN,NaN,-2.572467,NaN,NaN,NaN,2647.526765,0.14,0.0,NaN,NaN,-0.806362,0.878293,0,-1,-1,NaN,NaN,NaN,NaN,0
15,2024-11-06 12:34:00,2637.60,2637.83,2636.27,2637.21,29.0,15.0,-0.359,2639.074591,NaN,36.748670,NaN,NaN,NaN,NaN,NaN,-2.401309,NaN,NaN,NaN,2645.938218,0.14,0.0,NaN,NaN,-0.716890,1.226111,0,-1,1,NaN,NaN,NaN,NaN,0
16,2024-11-06 12:35:00,2637.06,2638.18,2636.09,2636.89,48.0,16.0,-0.642,2638.637673,NaN,35.756435,NaN,NaN,NaN,NaN,NaN,-2.244220,0.290174,-2.534394,NaN,2644.572068,0.16,0.0,NaN,NaN,-0.701912,-0.643180,0,-1,-1,NaN,NaN,NaN,NaN,0
17,2024-11-06 12:36:00,2636.90,2636.93,2635.33,2635.38,157.0,17.0,0.071,2637.986138,NaN,31.129265,NaN,NaN,NaN,NaN,NaN,-2.272157,0.174825,-2.446982,NaN,2643.214937,0.18,0.0,NaN,NaN,-0.547329,0.939994,0,-1,-1,NaN,NaN,NaN,NaN,0
18,2024-11-06 12:37:00,2635.38,2636.70,2635.24,2636.40,58.0,18.0,-0.277,2637.668910,NaN,37.502952,NaN,NaN,NaN,NaN,NaN,-2.050806,0.264117,-2.314923,NaN,2641.795648,0.20,0.0,NaN,NaN,-0.493264,-0.437049,0,-1,-1,NaN,NaN,NaN,NaN,0
19,2024-11-06 12:38:00,2636.40,2636.65,2635.65,2636.65,58.0,19.0,-0.443,2637.465128,NaN,39.114187,2632.604011,2640.5380,2648.471989,0.600937,0.254978,-1.795864,0.346040,-2.141903,NaN,2640.484519,0.20,0.0,NaN,NaN,-0.483211,-0.688892,0,-1,-1,NaN,NaN,NaN,NaN,0
20,2024-11-06 12:39:00,2636.92,2638.82,2635.28,2635.83,77.0,20.0,-0.161,2637.138103,2640.313810,35.601877,2632.494698,2639.9400,2647.385302,0.564051,0.223987,-1.683619,0.305523,-1.989142,NaN,2639.435615,0.20,0.0,0.998797,NaN,-0.418769,0.647755,0,-1,-1,NaN,NaN,NaN,NaN,-1
21,2024-11-06 12:40:00,2635.99,2645.30,2635.99,2644.23,134.0,21.0,-0.085,2638.556482,2640.669827,68.937447,2632.434144,2640.1010,2647.767856,0.580800,0.769276,-0.346179,1.095309,-1.441488,2635.240000,NaN,0.02,1.0,0.999200,NaN,-0.352015,0.767581,0,-1,-1,NaN,NaN,NaN,NaN,-1
22,2024-11-06 12:41:00,2644.30,2647.44,2643.85,2643.85,76.0,22.0,1.713,2639.615186,2640.958933,67.104141,2632.434144,2640.1010,2647.767856,0.580800,0.744494,0.432506,1.249329,-0.816823,2635.280000,NaN,0.04,0.0,0.999491,NaN,0.060988,7.371529,0,1,1,NaN,NaN,NaN,NaN,-1
23,2024-11-06 12:42:00,2643.61,2644.54,2641.97,2641.97,22.0,23.0,2.248,2640.086149,2641.050849,58.174507,2632.904432,2639.8175,2646.730568,0.523754,0.655683,0.623027,0.959900,-0.336873,2635.766400,NaN,0.04,0.0,0.999635,NaN,0.498390,8.902564,1,1,1,NaN,NaN,NaN,NaN,-1
24,2024-11-06 12:43:00,2641.98,2644.27,2641.97,2643.66,73.0,24.0,1.866,2640.800919,2641.288044,63.296795,2633.054005,2639.7335,2646.412995,0.506073,0.793922,0.955672,0.861697,0.093975,2636.233344,NaN,0.04,0.0,0.999816,NaN,0.771912,6.962290,1,1,1,NaN,NaN,NaN,NaN,-1
25,2024-11-06 12:44:00,2643.66,2643.67,2642.54,2643.05,42.0,25.0,1.340,2641.250735,2641.448222,60.192552,2633.018864,2639.7905,2646.562136,0.513043,0.740673,1.033182,0.626138,0.407044,2636.681610,NaN,0.04,0.0,0.999925,NaN,0.885530,4.462689,1,1,1,NaN,NaN,NaN,NaN,-1
26,2024-11-06 12:45:00,2642.92,2645.65,2642.92,2644.11,117.0,26.0,-0.255,2641.822588,2641.690202,63.792493,2632.938291,2639.8670,2646.795709,0.524929,0.806190,1.189895,0.521900,0.667994,2637.111946,NaN,0.04,0.0,1.000050,NaN,0.657424,-2.129714,1,1,-1,NaN,NaN,NaN,NaN,1
27,2024-11-06 12:46:00,2644.11,2645.34,2643.15,2644.57,49.0,27.0,0.160,2642.372070,2641.952002,65.377699,2632.995751,2639.8370,2646.678249,0.518308,0.845916,1.302989,0.423330,0.879659,2637.525068,NaN,0.04,0.0,1.000159,NaN,0.557939,-0.460525,1,1,-1,NaN,NaN,NaN,NaN,1
28,2024-11-06 12:47:00,2644.56,2646.14,2643.01,2645.89,48.0,28.0,0.565,2643.075656,2642.310002,69.803630,2632.857124,2639.9035,2646.949876,0.533836,0.924793,1.507618,0.418639,1.088979,2637.921665,NaN,0.04,0.0,1.000290,NaN,0.559351,1.490208,1,1,1,NaN,NaN,NaN,NaN,1
29,2024-11-06 12:48:00,2645.89,2646.69,2641.39,2641.40,92.0,29.0,0.598,2642.740525,2642.227274,46.310266,2632.939381,2640.0090,2647.078619,0.535575,0.598379,0.929937,-0.106028,1.035965,2638.302399,NaN,0.04,0.0,1.000194,NaN,0.567081,1.819882,1,1,1,NaN,NaN,NaN,NaN,1

In [20]:
df.to_clipboard()